name: Pre-merge Checks
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-ci:
    # runs-on: ubuntu-latest
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    if: ${{ !github.event.pull_request.draft && github.actor != 'dependabot[bot]' && github.actor != 'dependabot-preview[bot]' }}
    steps:
      # If the condition above is not met, aka, the PR is not in draft status, then this step is skipped.
      # Because this step is part of the critical path, omission of this step will result in remaining CI steps not gettinge executed.
      # As of 8/8/2022 there is now way to enforce this beahvior in GitHub Actions CI.
      - run: exit 0

  build-with-latest-hapi-release:
    runs-on: ubuntu-latest
    needs: [run-ci]
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Import Vault Credentials
        id: import-secrets
        uses: spectrocloud/palette-sdk-typescript/.github/actions/vault-credentials@main

      - name: Checkout
        uses: actions/checkout@v4
        # with:
        #   token: ${{ steps.import-secrets.outputs.VAULT_GITHUB_TOKEN }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0
        with:
          node-version: "22"
          cache: "npm"

      - name: Setup Copywrite
        uses: hashicorp/setup-copywrite@v1.1.3

      - name: Checkout Pax Repository
        uses: actions/checkout@v5
        with:
          repository: spectrocloud/hapi
          path: api/hapi
          fetch-depth: "0"

      - name: Install dependencies
        run: make install-dependencies

      - name: Ensure Reviewable
        run: make check-diff

      - name: Generate
        run: make generate

      - name: Test
        run: make test
