name: CI
on:
  push:
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build-with-coverage:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Import Vault Credentials
        id: import-secrets
        uses: spectrocloud/palette-sdk-typescript/.github/actions/vault-credentials@main

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.import-secrets.outputs.VAULT_GITHUB_TOKEN }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0
        with:
          node-version: "22"
          cache: "npm"

      - name: Setup Copywrite
        uses: hashicorp/setup-copywrite

      - name: Install dependencies
        run: make install-dependencies

      - name: Ensure Reviewable
        run: make check-diff

      - name: Generate
        run: make generate

      - name: Test
        run: make test
